morse-code-flow.json
[
    {
        "id": "7ac8f0e4.8ffdc",
        "type": "tab",
        "label": "Morse",
        "disabled": false,
        "info": ""
    },
    {
        "id": "454f9658.658818",
        "type": "mqtt in",
        "z": "7ac8f0e4.8ffdc",
        "name": "",
        "topic": "morse",
        "qos": "2",
        "datatype": "json",
        "broker": "6ac37b43.9b38f4",
        "x": 110,
        "y": 100,
        "wires": [
            [
                "c4030b2a.791c78"
            ]
        ]
    },
    {
        "id": "c4030b2a.791c78",
        "type": "switch",
        "z": "7ac8f0e4.8ffdc",
        "name": "Drücken oder Loslassen",
        "property": "payload.action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "pressed",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "release",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 310,
        "y": 100,
        "wires": [
            [
                "954a2228.78b56",
                "cc7b953a.98add8"
            ],
            [
                "cc7b953a.98add8",
                "c49913cb.5370a"
            ]
        ]
    },
    {
        "id": "954a2228.78b56",
        "type": "change",
        "z": "7ac8f0e4.8ffdc",
        "name": "Zeit zurücksetzen",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 40,
        "wires": [
            [
                "2fc08cd5.eb2b84"
            ]
        ]
    },
    {
        "id": "cc7b953a.98add8",
        "type": "delay",
        "z": "7ac8f0e4.8ffdc",
        "name": "Nachrichten verzögern für reset",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 610,
        "y": 100,
        "wires": [
            [
                "2fc08cd5.eb2b84",
                "3187a7b6.8b1268"
            ]
        ]
    },
    {
        "id": "5c8e2c0c.22e134",
        "type": "function",
        "z": "7ac8f0e4.8ffdc",
        "name": "Morse code prüfen",
        "func": "var solution_code = global.get('solution_code');\nvar current_code = global.get('current_code');\n\nif(current_code === \"\"){\n    msg.payload.paused=0;\n}\n//Get current morse code\nif(msg.payload.pressed > 1000){\n    current_code+=\"long \";\n}else if(msg.payload.pressed > 10 ){\n    current_code+=\"short \";\n}\n/*\n}else if(msg.payload.paused > 50000 ){\n    current_code+=\"word \";\n}else if(msg.payload.paused > 2000 ){\n    current_code+=\"next \";\n}\n*/\nnode.warn(current_code);\nif(current_code === solution_code){\n    node.warn(\"solved\");\n    msg.payload = \"solved\";\n    global.set('current_code',\"\");\n}else if(current_code === solution_code.substring(0,current_code.length)){\n    msg.payload = \"in progress\";\n    global.set('current_code',current_code);\n}else{\n    node.warn(\"failed\");\n    msg.payload = \"failed\"; \n    global.set('current_code',\"\");\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1150,
        "y": 80,
        "wires": [
            [
                "e3af40e6.d1b43",
                "884d3d1b.62a94"
            ]
        ]
    },
    {
        "id": "e3af40e6.d1b43",
        "type": "debug",
        "z": "7ac8f0e4.8ffdc",
        "name": "Ausgabe",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1420,
        "y": 100,
        "wires": []
    },
    {
        "id": "a0c1cc40.213d2",
        "type": "inject",
        "z": "7ac8f0e4.8ffdc",
        "name": "Variablen zurücksetzen",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 190,
        "y": 239,
        "wires": [
            [
                "81d4cb85.f2f8b8"
            ]
        ]
    },
    {
        "id": "81d4cb85.f2f8b8",
        "type": "function",
        "z": "7ac8f0e4.8ffdc",
        "name": "Globale Variablen setzen",
        "func": "/*\nshort = <1 Sec. pressed\nlong =  >1 Sec. pressed\nnext =  >2 Sec. pause (next letter)\nword =  >5 Sec. pause (next word)\n*/\nglobal.set('solution_code',\n\"short short short short \" +   //H\n\"short long \" +                //A\n\"short long short short \" + //L\n\"short long short short \" + //L\n\"long long long\")   //O\n\nglobal.set('current_code',\"\")\nglobal.set('position',0);",
        "outputs": 0,
        "noerr": 0,
        "x": 470,
        "y": 240,
        "wires": []
    },
    {
        "id": "c49913cb.5370a",
        "type": "change",
        "z": "7ac8f0e4.8ffdc",
        "name": "Zeit zurücksetzen",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 160,
        "wires": [
            [
                "3187a7b6.8b1268"
            ]
        ]
    },
    {
        "id": "2fc08cd5.eb2b84",
        "type": "interval-length",
        "z": "7ac8f0e4.8ffdc",
        "format": "mills",
        "bytopic": true,
        "minimum": "",
        "maximum": "",
        "window": "",
        "timeout": false,
        "msgTimeout": "",
        "minimumunit": "msecs",
        "maximumunit": "msecs",
        "windowunit": "msecs",
        "msgTimeoutUnit": "msecs",
        "reset": true,
        "startup": false,
        "msgField": "payload.pressed",
        "timestampField": "timestamp",
        "repeatTimeout": false,
        "name": "Drückdauer zählen",
        "x": 890,
        "y": 40,
        "wires": [
            [
                "5c8e2c0c.22e134"
            ],
            []
        ]
    },
    {
        "id": "3187a7b6.8b1268",
        "type": "interval-length",
        "z": "7ac8f0e4.8ffdc",
        "format": "mills",
        "bytopic": false,
        "minimum": "",
        "maximum": "",
        "window": "",
        "timeout": false,
        "msgTimeout": "",
        "minimumunit": "msecs",
        "maximumunit": "msecs",
        "windowunit": "msecs",
        "msgTimeoutUnit": "msecs",
        "reset": true,
        "startup": false,
        "msgField": "payload.paused",
        "timestampField": "timestamp",
        "repeatTimeout": false,
        "name": "Loslassdauer zählen",
        "x": 900,
        "y": 160,
        "wires": [
            [
                "5c8e2c0c.22e134"
            ],
            []
        ]
    },
    {
        "id": "88d0df20.497fc",
        "type": "mqtt out",
        "z": "7ac8f0e4.8ffdc",
        "name": "",
        "topic": "morse/set",
        "qos": "",
        "retain": "",
        "broker": "6ac37b43.9b38f4",
        "x": 1500,
        "y": 200,
        "wires": []
    },
    {
        "id": "884d3d1b.62a94",
        "type": "switch",
        "z": "7ac8f0e4.8ffdc",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "failed",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1350,
        "y": 200,
        "wires": [
            [
                "88d0df20.497fc"
            ]
        ]
    },
    {
        "id": "6ac37b43.9b38f4",
        "type": "mqtt-broker",
        "z": "",
        "name": "mqtt",
        "broker": "mqtt",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    }
]
