rfid-reader-flow.json
[
    {
        "id": "3afafda7.59a872",
        "type": "tab",
        "label": "RFID-Reader",
        "disabled": false,
        "info": ""
    },
    {
        "id": "674b84b3.1ed5bc",
        "type": "debug",
        "z": "3afafda7.59a872",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 830,
        "y": 100,
        "wires": []
    },
    {
        "id": "77364643.67c778",
        "type": "mqtt in",
        "z": "3afafda7.59a872",
        "name": "",
        "topic": "rfid-reader",
        "qos": "2",
        "datatype": "auto",
        "broker": "6ac37b43.9b38f4",
        "x": 400,
        "y": 100,
        "wires": [
            [
                "47bcffa5.6ed27"
            ]
        ]
    },
    {
        "id": "47bcffa5.6ed27",
        "type": "switch",
        "z": "3afafda7.59a872",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "2e24871a",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 590,
        "y": 100,
        "wires": [
            [
                "674b84b3.1ed5bc",
                "68f636f7.8f71a8"
            ],
            [
                "23947642.efcc6a"
            ]
        ]
    },
    {
        "id": "c42532fb.1c843",
        "type": "mqtt out",
        "z": "3afafda7.59a872",
        "name": "",
        "topic": "rfid-reader/set",
        "qos": "",
        "retain": "",
        "broker": "6ac37b43.9b38f4",
        "x": 920,
        "y": 160,
        "wires": []
    },
    {
        "id": "68f636f7.8f71a8",
        "type": "function",
        "z": "3afafda7.59a872",
        "name": "ACK",
        "func": "msg.payload=\"{\\\"ack\\\":1}\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 730,
        "y": 160,
        "wires": [
            [
                "c42532fb.1c843"
            ]
        ]
    },
    {
        "id": "23947642.efcc6a",
        "type": "function",
        "z": "3afafda7.59a872",
        "name": "Not ACK",
        "func": "msg.payload=\"{\\\"ack\\\":0}\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 740,
        "y": 220,
        "wires": [
            [
                "c42532fb.1c843"
            ]
        ]
    },
    {
        "id": "6ac37b43.9b38f4",
        "type": "mqtt-broker",
        "z": "",
        "name": "mqtt",
        "broker": "mqtt",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    }
]
