riddle-2-flow.json
[
    {
        "id": "1d96ce19.11d612",
        "type": "subflow",
        "name": "Kiste öffnen 2",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": []
            }
        ],
        "out": [],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "52e0b8d6.b56c78",
        "type": "subflow",
        "name": "Kiste öffnen 1",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": []
            }
        ],
        "out": [],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "44ef06f.82cb0f8",
        "type": "subflow",
        "name": "Simon Says",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 200,
                "y": 60,
                "wires": [
                    {
                        "id": "4f7fec26.54c7f4"
                    },
                    {
                        "id": "9779e060.7b6c"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 780,
                "y": 220,
                "wires": [
                    {
                        "id": "98a5e2a7.64ddb",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "e1719d0c.874da",
        "type": "inject",
        "z": "44ef06f.82cb0f8",
        "name": "Example Green",
        "topic": "simon_says",
        "payload": "{\"id\":\"green\",\"action\":\"pressed\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 160,
        "y": 120,
        "wires": [
            [
                "9779e060.7b6c"
            ]
        ]
    },
    {
        "id": "57994979.341a58",
        "type": "inject",
        "z": "44ef06f.82cb0f8",
        "name": "Example Red",
        "topic": "simon_says",
        "payload": "{\"id\":\"red\",\"action\":\"pressed\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 170,
        "y": 180,
        "wires": [
            [
                "9779e060.7b6c"
            ]
        ]
    },
    {
        "id": "3adda519.2f766a",
        "type": "inject",
        "z": "44ef06f.82cb0f8",
        "name": "Example Blue",
        "topic": "simon_says",
        "payload": "{\"id\":\"blue\",\"action\":\"pressed\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 170,
        "y": 240,
        "wires": [
            [
                "9779e060.7b6c"
            ]
        ]
    },
    {
        "id": "30fc2ebc.40ecb2",
        "type": "inject",
        "z": "44ef06f.82cb0f8",
        "name": "Example Yellow",
        "topic": "simon_says",
        "payload": "{\"id\":\"yellow\",\"action\":\"pressed\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 160,
        "y": 300,
        "wires": [
            [
                "9779e060.7b6c"
            ]
        ]
    },
    {
        "id": "7f2b3aea.963d64",
        "type": "inject",
        "z": "44ef06f.82cb0f8",
        "name": "Reset Variables",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 160,
        "y": 400,
        "wires": [
            [
                "84407d97.aa5be"
            ]
        ]
    },
    {
        "id": "84407d97.aa5be",
        "type": "function",
        "z": "44ef06f.82cb0f8",
        "name": "Set Variables",
        "func": "global.set('round',1);\nglobal.set('position',0);\nglobal.set('round_amount',6);\n\n// Generate new rounds\nvar round_amount = global.get('round_amount');\nvar round_value=\"\";\nfor (var i=0, t=round_amount; i<t; i++) {\n    rnd_number = Math.floor((Math.random() * 4) + 1);\n    if(i>0){\n        round_value +=\" \";\n    }\n    switch(rnd_number){\n        case 1: \n            round_value+=\"green\";\n            break;\n        case 2:\n            round_value+=\"red\";\n            break;\n        case 3:\n            round_value+=\"blue\";\n            break;\n        case 4:\n            round_value+=\"yellow\";\n            break;\n        }\n        global.set('round_'+(i+1),round_value);\n    }\n    \n/* Hardcoded round\nglobal.set('round_1',\"green\")\nglobal.set('round_2',\"green blue\")\nglobal.set('round_3',\"green blue red\")\nglobal.set('round_4',\"green blue red red\")\nglobal.set('round_5',\"green blue red red yellow\")\nglobal.set('round_6',\"solved\")\n*/\n\nmsg.payload = global.get(\"round_1\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 400,
        "wires": [
            [
                "cad40152.ac754",
                "f4967446.6d1808"
            ]
        ]
    },
    {
        "id": "53e6b551.c738bc",
        "type": "debug",
        "z": "44ef06f.82cb0f8",
        "name": "Print next round",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 660,
        "y": 160,
        "wires": []
    },
    {
        "id": "f4967446.6d1808",
        "type": "mqtt out",
        "z": "44ef06f.82cb0f8",
        "name": "",
        "topic": "simon/set",
        "qos": "",
        "retain": "",
        "broker": "aad7876.580ea78",
        "x": 640,
        "y": 280,
        "wires": []
    },
    {
        "id": "9779e060.7b6c",
        "type": "function",
        "z": "44ef06f.82cb0f8",
        "name": "validate",
        "func": "// Get next Round and the assoziated value\nvar round = global.get('round');\nvar round_raw = global.get('round_'+round);\nvar round_values = round_raw.split(\" \");\n\n// Get Position in the current round\nvar position = global.get('position');\n\n// Get color currently pressed\nvar button = msg.payload.id;\nvar button_color = \"green\";\nswitch(button){\n    case \"green\":\n        button_color = \"green\";\n        break;\n    case \"red\":\n        button_color = \"red\";\n        break;\n    case \"blue\":\n        button_color = \"blue\";\n        break;\n    case \"yellow\":\n        button_color = \"yellow\";\n        break;\n}\n\n// Validate based on current round\nif(button_color === round_values[position]){\n     node.warn(\"match\");\n    if(round_values.length === position+1){\n        round++;\n        global.set('round',round);\n        global.set('position',0);\n        msg.payload = global.get('round_'+round);\n        return msg;\n    }else{\n        global.set('position',position+1);\n    }\n}else if(round_values[0] === 'solved'){\n    msg.payload = round_json;\n    return msg;\n}else{\n      node.warn(\"Default\");\n    // Default: Back to round one\n    global.set('position',0);\n    global.set('round',1);\n    \n    // Generate new rounds\n    var round_amount = global.get('round_amount');\n    var round_value=\"\";\n    for (var i=0, t=round_amount; i<t; i++) {\n        rnd_number = Math.floor((Math.random() * 4) + 1);\n        if(i>0){\n            round_value +=\" \";\n        }\n        switch(rnd_number){\n            case 1: \n                round_value+=\"green\";\n                break;\n            case 2:\n                round_value+=\"red\";\n                break;\n            case 3:\n                round_value+=\"blue\";\n                break;\n            case 4:\n                round_value+=\"yellow\";\n                break;\n        }\n        global.set('round_'+(i+1),round_value);\n    }\n    msg.payload = global.get('round_1');\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 420,
        "y": 180,
        "wires": [
            [
                "53e6b551.c738bc",
                "f4967446.6d1808",
                "98a5e2a7.64ddb"
            ]
        ]
    },
    {
        "id": "cad40152.ac754",
        "type": "debug",
        "z": "44ef06f.82cb0f8",
        "name": "Print first round",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 360,
        "y": 460,
        "wires": []
    },
    {
        "id": "4f7fec26.54c7f4",
        "type": "debug",
        "z": "44ef06f.82cb0f8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 520,
        "y": 80,
        "wires": []
    },
    {
        "id": "98a5e2a7.64ddb",
        "type": "switch",
        "z": "44ef06f.82cb0f8",
        "name": "Wenn gelöst",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "solved",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 650,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "68ce7180.d6e22",
        "type": "subflow",
        "name": "Cables",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 140,
                "y": 80,
                "wires": [
                    {
                        "id": "362abce8.fd4884"
                    },
                    {
                        "id": "eb43917.307907"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 880,
                "y": 240,
                "wires": [
                    {
                        "id": "52fb75c.97fa78c",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "eb43917.307907",
        "type": "function",
        "z": "68ce7180.d6e22",
        "name": "Check cables",
        "func": "// Configure cables\n// 0 = Connected\n// 1 = Not Connected\nvar yellow = 1;\nvar blue = 0;\nvar white = 1;\nvar green = 0;\nvar black = 0;\nvar red = 1;\nvar orange = 0;\n\n// Check value\nvar value = parseInt(msg.payload.split(\":\")[1]);\nvar factor = 1;\nvar sum=orange*1+red*10+black*100+green*1000+white*10000+blue*100000+yellow*1000000;\n\nif(sum === value){\n    node.warn(\"Solved\");\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 120,
        "wires": [
            [
                "29e432d1.35a9ce"
            ]
        ]
    },
    {
        "id": "29e432d1.35a9ce",
        "type": "function",
        "z": "68ce7180.d6e22",
        "name": "ACK",
        "func": "msg.payload=\"{\\\"ack\\\":1}\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 180,
        "wires": [
            [
                "6bd71699.a246d8",
                "52fb75c.97fa78c"
            ]
        ]
    },
    {
        "id": "6bd71699.a246d8",
        "type": "mqtt out",
        "z": "68ce7180.d6e22",
        "name": "",
        "topic": "cable-riddle/set",
        "qos": "",
        "retain": "",
        "broker": "aad7876.580ea78",
        "x": 740,
        "y": 180,
        "wires": []
    },
    {
        "id": "362abce8.fd4884",
        "type": "debug",
        "z": "68ce7180.d6e22",
        "name": "Debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 370,
        "y": 80,
        "wires": []
    },
    {
        "id": "52fb75c.97fa78c",
        "type": "change",
        "z": "68ce7180.d6e22",
        "name": "Gelöst senden",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "8e30d363.1c9bf",
        "type": "subflow",
        "name": "Morsen",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 120,
                "y": 120,
                "wires": [
                    {
                        "id": "337344dd.ea0d6c"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1820,
                "y": 240,
                "wires": [
                    {
                        "id": "52bbb501.b786dc",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "337344dd.ea0d6c",
        "type": "switch",
        "z": "8e30d363.1c9bf",
        "name": "Drücken oder Loslassen",
        "property": "payload.action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "pressed",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "release",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 310,
        "y": 120,
        "wires": [
            [
                "5d5c4eb0.ae0bf",
                "b51f9bb6.ac2e18"
            ],
            [
                "b51f9bb6.ac2e18",
                "d8ada6f3.b3ac18"
            ]
        ]
    },
    {
        "id": "5d5c4eb0.ae0bf",
        "type": "change",
        "z": "8e30d363.1c9bf",
        "name": "Zeit zurücksetzen",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 60,
        "wires": [
            [
                "ed480b08.9b21b8"
            ]
        ]
    },
    {
        "id": "b51f9bb6.ac2e18",
        "type": "delay",
        "z": "8e30d363.1c9bf",
        "name": "Nachrichten verzögern für reset",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 610,
        "y": 120,
        "wires": [
            [
                "ed480b08.9b21b8",
                "4f8522f5.71a65c"
            ]
        ]
    },
    {
        "id": "f6aec23d.e417a",
        "type": "function",
        "z": "8e30d363.1c9bf",
        "name": "Morse code prüfen",
        "func": "var solution_code = global.get('solution_code');\nvar current_code = global.get('current_code');\n\nif(current_code === \"\"){\n    msg.payload.paused=0;\n}\n//Get current morse code\nif(msg.payload.pressed > 1000){\n    current_code+=\"long \";\n}else if(msg.payload.pressed > 10 ){\n    current_code+=\"short \";\n}\n/*\n}else if(msg.payload.paused > 50000 ){\n    current_code+=\"word \";\n}else if(msg.payload.paused > 2000 ){\n    current_code+=\"next \";\n}\n*/\nnode.warn(current_code);\nif(current_code === solution_code){\n    node.warn(\"solved\");\n    msg.payload = \"solved\";\n    global.set('current_code',\"\");\n}else if(current_code === solution_code.substring(0,current_code.length)){\n    msg.payload = \"in progress\";\n    global.set('current_code',current_code);\n}else{\n    node.warn(\"failed\");\n    msg.payload = \"failed\"; \n    global.set('current_code',\"\");\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1150,
        "y": 100,
        "wires": [
            [
                "74f7be6f.18944",
                "4fefbcf2.44c4b4"
            ]
        ]
    },
    {
        "id": "74f7be6f.18944",
        "type": "debug",
        "z": "8e30d363.1c9bf",
        "name": "Ausgabe",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1400,
        "y": 100,
        "wires": []
    },
    {
        "id": "10ca7726.15ca09",
        "type": "inject",
        "z": "8e30d363.1c9bf",
        "name": "Variablen zurücksetzen",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 190,
        "y": 259,
        "wires": [
            [
                "b1a1adab.870c4"
            ]
        ]
    },
    {
        "id": "b1a1adab.870c4",
        "type": "function",
        "z": "8e30d363.1c9bf",
        "name": "Globale Variablen setzen",
        "func": "/*\nshort = <1 Sec. pressed\nlong =  >1 Sec. pressed\nnext =  >2 Sec. pause (next letter)\nword =  >5 Sec. pause (next word)\n*/\nglobal.set('solution_code',\n\"short short short short \" +   //H\n\"short long \" +                //A\n\"short long short short \" + //L\n\"short long short short \" + //L\n\"long long long\")   //O\n\nglobal.set('current_code',\"\")\nglobal.set('position',0);",
        "outputs": 0,
        "noerr": 0,
        "x": 470,
        "y": 260,
        "wires": []
    },
    {
        "id": "d8ada6f3.b3ac18",
        "type": "change",
        "z": "8e30d363.1c9bf",
        "name": "Zeit zurücksetzen",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 180,
        "wires": [
            [
                "4f8522f5.71a65c"
            ]
        ]
    },
    {
        "id": "ed480b08.9b21b8",
        "type": "interval-length",
        "z": "8e30d363.1c9bf",
        "format": "mills",
        "bytopic": true,
        "minimum": "",
        "maximum": "",
        "window": "",
        "timeout": false,
        "msgTimeout": "",
        "minimumunit": "msecs",
        "maximumunit": "msecs",
        "windowunit": "msecs",
        "msgTimeoutUnit": "msecs",
        "reset": true,
        "startup": false,
        "msgField": "payload.pressed",
        "timestampField": "timestamp",
        "repeatTimeout": false,
        "name": "Drückdauer zählen",
        "x": 890,
        "y": 60,
        "wires": [
            [
                "f6aec23d.e417a"
            ],
            []
        ]
    },
    {
        "id": "4f8522f5.71a65c",
        "type": "interval-length",
        "z": "8e30d363.1c9bf",
        "format": "mills",
        "bytopic": false,
        "minimum": "",
        "maximum": "",
        "window": "",
        "timeout": false,
        "msgTimeout": "",
        "minimumunit": "msecs",
        "maximumunit": "msecs",
        "windowunit": "msecs",
        "msgTimeoutUnit": "msecs",
        "reset": true,
        "startup": false,
        "msgField": "payload.paused",
        "timestampField": "timestamp",
        "repeatTimeout": false,
        "name": "Loslassdauer zählen",
        "x": 900,
        "y": 180,
        "wires": [
            [
                "f6aec23d.e417a"
            ],
            []
        ]
    },
    {
        "id": "78a0dfb5.62ad9",
        "type": "mqtt out",
        "z": "8e30d363.1c9bf",
        "name": "",
        "topic": "morse/set",
        "qos": "",
        "retain": "",
        "broker": "aad7876.580ea78",
        "x": 1660,
        "y": 200,
        "wires": []
    },
    {
        "id": "4fefbcf2.44c4b4",
        "type": "switch",
        "z": "8e30d363.1c9bf",
        "name": "Richtige oder falsche Antwort",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "failed",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "solved",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1420,
        "y": 220,
        "wires": [
            [
                "78a0dfb5.62ad9"
            ],
            [
                "52bbb501.b786dc"
            ]
        ]
    },
    {
        "id": "52bbb501.b786dc",
        "type": "change",
        "z": "8e30d363.1c9bf",
        "name": "Gelöst senden",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1680,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "6de8897c.eb2138",
        "type": "tab",
        "label": "Riddle 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2192ce2e.99dae2",
        "type": "comment",
        "z": "6de8897c.eb2138",
        "name": "Schritt 2: 3D-Rätsel lösen -> Schlüssel",
        "info": "",
        "x": 170,
        "y": 60,
        "wires": []
    },
    {
        "id": "54128a75.8b8ca4",
        "type": "comment",
        "z": "6de8897c.eb2138",
        "name": "Schritt 3: Schrank mit Schlüssel öffnen -> Verschlüsselter Text erhalten",
        "info": "",
        "x": 270,
        "y": 100,
        "wires": []
    },
    {
        "id": "be427597.c5d3b8",
        "type": "comment",
        "z": "6de8897c.eb2138",
        "name": "Schritt 1: 3D-Rätsel finden, Caesar Schlüssel finden, Morse-Button finden, Simon Says finden, 2x Verschlossene Box finden, Alarmanlagen entschlüsselung erhalten",
        "info": "",
        "x": 560,
        "y": 20,
        "wires": []
    },
    {
        "id": "1255b9f0.f81066",
        "type": "comment",
        "z": "6de8897c.eb2138",
        "name": "Schritt 4: Text mit Caesar Schlüssel lösen -> Morse-Anleitung und Code erhalten",
        "info": "",
        "x": 300,
        "y": 140,
        "wires": []
    },
    {
        "id": "1a16cf6c.e89331",
        "type": "comment",
        "z": "6de8897c.eb2138",
        "name": "Schritt 5: Morsen -> eine Kiste öffnet sich und man erhält das Kabelspiel",
        "info": "",
        "x": 270,
        "y": 180,
        "wires": []
    },
    {
        "id": "cdb5638c.1e6d",
        "type": "mqtt in",
        "z": "6de8897c.eb2138",
        "name": "",
        "topic": "morse",
        "qos": "2",
        "datatype": "json",
        "broker": "aad7876.580ea78",
        "x": 110,
        "y": 240,
        "wires": [
            [
                "dba12e18.2a31"
            ]
        ]
    },
    {
        "id": "dba12e18.2a31",
        "type": "subflow:8e30d363.1c9bf",
        "z": "6de8897c.eb2138",
        "name": "",
        "env": [],
        "x": 270,
        "y": 240,
        "wires": [
            [
                "9be22c50.e1f88"
            ]
        ]
    },
    {
        "id": "52863089.d2661",
        "type": "comment",
        "z": "6de8897c.eb2138",
        "name": "Schritt 6: Kabelspiel mit Alarmanleitung lösen -> Simon Says leuchtet auf",
        "info": "",
        "x": 280,
        "y": 480,
        "wires": []
    },
    {
        "id": "d2a506b7.321438",
        "type": "mqtt in",
        "z": "6de8897c.eb2138",
        "name": "",
        "topic": "cable-riddle",
        "qos": "2",
        "datatype": "auto",
        "broker": "aad7876.580ea78",
        "x": 510,
        "y": 420,
        "wires": [
            [
                "fdc21475.2ccdb8"
            ]
        ]
    },
    {
        "id": "c31eba86.b87a78",
        "type": "subflow:68ce7180.d6e22",
        "z": "6de8897c.eb2138",
        "name": "",
        "env": [],
        "x": 720,
        "y": 500,
        "wires": [
            [
                "dfc70d0f.5ff4"
            ]
        ]
    },
    {
        "id": "458104a9.2fdfdc",
        "type": "comment",
        "z": "6de8897c.eb2138",
        "name": "Schritt 7: Simon Says lösen -> Letzte Kiste öffnet sich",
        "info": "",
        "x": 220,
        "y": 680,
        "wires": []
    },
    {
        "id": "12ffbd29.ad80f3",
        "type": "comment",
        "z": "6de8897c.eb2138",
        "name": "Schritt 8: RFID-Karte liegt in Kiste mit Hinweis das es geschafft ist",
        "info": "",
        "x": 250,
        "y": 820,
        "wires": []
    },
    {
        "id": "e612db62.f27fd8",
        "type": "mqtt in",
        "z": "6de8897c.eb2138",
        "name": "",
        "topic": "simon",
        "qos": "2",
        "datatype": "json",
        "broker": "aad7876.580ea78",
        "x": 690,
        "y": 640,
        "wires": [
            [
                "bc14c5d4.e51198"
            ]
        ]
    },
    {
        "id": "62f88f2c.c82dc",
        "type": "subflow:44ef06f.82cb0f8",
        "z": "6de8897c.eb2138",
        "name": "",
        "env": [],
        "x": 930,
        "y": 700,
        "wires": [
            [
                "b5cf000f.ca6ad"
            ]
        ]
    },
    {
        "id": "9be22c50.e1f88",
        "type": "ui_switch",
        "z": "6de8897c.eb2138",
        "name": "",
        "label": "Morse-Code gelöst",
        "tooltip": "",
        "group": "6f8256ee.9d57f8",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "gate",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "done",
        "oncolor": "green",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "clear",
        "offcolor": "red",
        "x": 530,
        "y": 360,
        "wires": [
            [
                "fdc21475.2ccdb8"
            ]
        ]
    },
    {
        "id": "fdc21475.2ccdb8",
        "type": "function",
        "z": "6de8897c.eb2138",
        "name": "control",
        "func": "if (msg.topic === \"gate\") {\n    context.pass = (msg.payload === true) ? true : false;\n    return null;  // exit out early as it's just the control\n}\nif (context.pass) {\n    return msg; // if enabled pass msg\n}\nreturn null; // or drop it",
        "outputs": 1,
        "noerr": 0,
        "x": 710,
        "y": 420,
        "wires": [
            [
                "8ed4681.49b9698",
                "c31eba86.b87a78",
                "1e44244e.f84eac"
            ]
        ]
    },
    {
        "id": "8ed4681.49b9698",
        "type": "debug",
        "z": "6de8897c.eb2138",
        "name": "Debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 870,
        "y": 420,
        "wires": []
    },
    {
        "id": "6c54577.562c7a8",
        "type": "inject",
        "z": "6de8897c.eb2138",
        "name": "",
        "topic": "Aktivieren",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 230,
        "y": 300,
        "wires": [
            [
                "9be22c50.e1f88"
            ]
        ]
    },
    {
        "id": "82f1ff1a.3105f",
        "type": "inject",
        "z": "6de8897c.eb2138",
        "name": "",
        "topic": "Deaktivieren",
        "payload": "false",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 250,
        "y": 340,
        "wires": [
            [
                "9be22c50.e1f88"
            ]
        ]
    },
    {
        "id": "b5cf000f.ca6ad",
        "type": "ui_switch",
        "z": "6de8897c.eb2138",
        "name": "",
        "label": "Simon Says gelöst",
        "tooltip": "",
        "group": "6f8256ee.9d57f8",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "gate",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "done",
        "oncolor": "green",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "clear",
        "offcolor": "red",
        "x": 950,
        "y": 760,
        "wires": [
            [
                "fec87623.693c58",
                "26bad1e0.b5956e"
            ]
        ]
    },
    {
        "id": "26bad1e0.b5956e",
        "type": "debug",
        "z": "6de8897c.eb2138",
        "name": "Debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1210,
        "y": 760,
        "wires": []
    },
    {
        "id": "d1db8c74.67ade",
        "type": "inject",
        "z": "6de8897c.eb2138",
        "name": "",
        "topic": "Aktivieren",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 690,
        "y": 720,
        "wires": [
            [
                "b5cf000f.ca6ad"
            ]
        ]
    },
    {
        "id": "898370fe.3b2a3",
        "type": "inject",
        "z": "6de8897c.eb2138",
        "name": "",
        "topic": "Deaktivieren",
        "payload": "false",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 710,
        "y": 760,
        "wires": [
            [
                "b5cf000f.ca6ad"
            ]
        ]
    },
    {
        "id": "dfc70d0f.5ff4",
        "type": "ui_switch",
        "z": "6de8897c.eb2138",
        "name": "",
        "label": "kabelspiel gelöst",
        "tooltip": "",
        "group": "6f8256ee.9d57f8",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "gate",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "done",
        "oncolor": "green",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "clear",
        "offcolor": "red",
        "x": 730,
        "y": 580,
        "wires": [
            [
                "bc14c5d4.e51198"
            ]
        ]
    },
    {
        "id": "bc14c5d4.e51198",
        "type": "function",
        "z": "6de8897c.eb2138",
        "name": "control",
        "func": "if (msg.topic === \"gate\") {\n    context.pass = (msg.payload === true) ? true : false;\n    return null;  // exit out early as it's just the control\n}\nif (context.pass) {\n    return msg; // if enabled pass msg\n}\nreturn null; // or drop it",
        "outputs": 1,
        "noerr": 0,
        "x": 930,
        "y": 640,
        "wires": [
            [
                "1fba33c6.6c07bc",
                "62f88f2c.c82dc"
            ]
        ]
    },
    {
        "id": "1fba33c6.6c07bc",
        "type": "debug",
        "z": "6de8897c.eb2138",
        "name": "Debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1110,
        "y": 640,
        "wires": []
    },
    {
        "id": "3162b8e0.3635a8",
        "type": "inject",
        "z": "6de8897c.eb2138",
        "name": "",
        "topic": "Deaktivieren",
        "payload": "false",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 490,
        "y": 580,
        "wires": [
            [
                "dfc70d0f.5ff4"
            ]
        ]
    },
    {
        "id": "a49a7914.e13058",
        "type": "inject",
        "z": "6de8897c.eb2138",
        "name": "",
        "topic": "Aktivieren",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 470,
        "y": 540,
        "wires": [
            [
                "dfc70d0f.5ff4"
            ]
        ]
    },
    {
        "id": "2595c200.80107e",
        "type": "ui_switch",
        "z": "6de8897c.eb2138",
        "name": "",
        "label": "Finale Box öffnen",
        "tooltip": "",
        "group": "6f8256ee.9d57f8",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "gate",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 950,
        "y": 920,
        "wires": [
            [
                "fec87623.693c58"
            ]
        ]
    },
    {
        "id": "bfb3090.924e4f8",
        "type": "inject",
        "z": "6de8897c.eb2138",
        "name": "",
        "topic": "Aktivieren",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 690,
        "y": 880,
        "wires": [
            [
                "2595c200.80107e"
            ]
        ]
    },
    {
        "id": "738382ea.d82efc",
        "type": "inject",
        "z": "6de8897c.eb2138",
        "name": "",
        "topic": "Deaktivieren",
        "payload": "false",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 710,
        "y": 920,
        "wires": [
            [
                "2595c200.80107e"
            ]
        ]
    },
    {
        "id": "1e44244e.f84eac",
        "type": "subflow:52e0b8d6.b56c78",
        "z": "6de8897c.eb2138",
        "name": "",
        "env": [],
        "x": 930,
        "y": 500,
        "wires": []
    },
    {
        "id": "fec87623.693c58",
        "type": "subflow:1d96ce19.11d612",
        "z": "6de8897c.eb2138",
        "name": "",
        "x": 1210,
        "y": 800,
        "wires": []
    },
    {
        "id": "aad7876.580ea78",
        "type": "mqtt-broker",
        "z": "",
        "name": "mqtt",
        "broker": "mqtt",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "6f8256ee.9d57f8",
        "type": "ui_group",
        "z": "",
        "name": "Rätsel 2",
        "tab": "44ddd26a.2ed7cc",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "44ddd26a.2ed7cc",
        "type": "ui_tab",
        "z": "",
        "name": "Escape Game",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
