simon-says-flow.json
[
    {
        "id": "ed780f98.13844",
        "type": "tab",
        "label": "Simon Says",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ea38cfe9.1305e",
        "type": "mqtt in",
        "z": "ed780f98.13844",
        "name": "",
        "topic": "simon",
        "qos": "2",
        "datatype": "json",
        "broker": "6ac37b43.9b38f4",
        "x": 190,
        "y": 100,
        "wires": [
            [
                "b228af8c.5d15b",
                "ea2deaa8.52a968"
            ]
        ]
    },
    {
        "id": "68e19d.f2d04e64",
        "type": "inject",
        "z": "ed780f98.13844",
        "name": "Example Green",
        "topic": "simon_says",
        "payload": "{\"id\":\"btn1\",\"action\":\"pressed\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 200,
        "y": 160,
        "wires": [
            [
                "b228af8c.5d15b"
            ]
        ]
    },
    {
        "id": "1d365b51.916755",
        "type": "inject",
        "z": "ed780f98.13844",
        "name": "Example Red",
        "topic": "simon_says",
        "payload": "{\"id\":\"btn2\",\"action\":\"pressed\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 210,
        "y": 220,
        "wires": [
            [
                "b228af8c.5d15b"
            ]
        ]
    },
    {
        "id": "bd990c2e.4bcd1",
        "type": "inject",
        "z": "ed780f98.13844",
        "name": "Example Blue",
        "topic": "simon_says",
        "payload": "{\"id\":\"btn3\",\"action\":\"pressed\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 210,
        "y": 280,
        "wires": [
            [
                "b228af8c.5d15b"
            ]
        ]
    },
    {
        "id": "cf4d9adf.f5ee18",
        "type": "inject",
        "z": "ed780f98.13844",
        "name": "Example Yellow",
        "topic": "simon_says",
        "payload": "{\"id\":\"btn4\",\"action\":\"pressed\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 200,
        "y": 340,
        "wires": [
            [
                "b228af8c.5d15b"
            ]
        ]
    },
    {
        "id": "dc65dcb8.0dfdb",
        "type": "inject",
        "z": "ed780f98.13844",
        "name": "Reset Variables",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 200,
        "y": 440,
        "wires": [
            [
                "2282cbd.0746234"
            ]
        ]
    },
    {
        "id": "2282cbd.0746234",
        "type": "function",
        "z": "ed780f98.13844",
        "name": "Set Variables",
        "func": "global.set('round',1);\nglobal.set('position',0);\nglobal.set('round_1',\"green\")\nglobal.set('round_2',\"green blue\")\nglobal.set('round_3',\"green blue blue\")\nglobal.set('round_4',\"green blue blue yellow\")\nglobal.set('round_5',\"green blue blue yellow red\")\nglobal.set('round_6',\"solved\")\n\nmsg.payload = global.get(\"round_1\");\nreturn msg;\n/*\nglobal.set('round_1',\"{\\\"next\\\":\\\"green\\\"}\")\nglobal.set('round_2',\"{\\\"next\\\":\\\"green blue\\\"}\")\nglobal.set('round_3',\"{\\\"next\\\":\\\"green blue blue\\\"}\")\nglobal.set('round_4',\"{\\\"next\\\":\\\"green blue blue yellow\\\"}\")\nglobal.set('round_5',\"{\\\"next\\\":\\\"green blue blue yellow red\\\"}\")\nglobal.set('round_6',\"{\\\"next\\\":\\\"solved\\\"}\")\n*/",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 440,
        "wires": [
            [
                "bdac4dd0.1227d",
                "99af6a76.5951d8"
            ]
        ]
    },
    {
        "id": "45c616b.3df3de8",
        "type": "debug",
        "z": "ed780f98.13844",
        "name": "Print next round",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 700,
        "y": 200,
        "wires": []
    },
    {
        "id": "99af6a76.5951d8",
        "type": "mqtt out",
        "z": "ed780f98.13844",
        "name": "",
        "topic": "simon/set",
        "qos": "",
        "retain": "",
        "broker": "6ac37b43.9b38f4",
        "x": 680,
        "y": 280,
        "wires": []
    },
    {
        "id": "b228af8c.5d15b",
        "type": "function",
        "z": "ed780f98.13844",
        "name": "validate",
        "func": "// Get next Round and the assoziated value\nvar round = global.get('round');\nvar round_raw = global.get('round_'+round);\nvar round_values = round_raw.split(\" \");\n\n// Get Position in the current round\nvar position = global.get('position');\n\n// Get color currently pressed\nvar button = msg.payload.id;\nvar button_color = \"green\";\nswitch(button){\n    case \"green\":\n        button_color = \"green\";\n        break;\n    case \"red\":\n        button_color = \"red\";\n        break;\n    case \"blue\":\n        button_color = \"blue\";\n        break;\n    case \"yellow\":\n        button_color = \"yellow\";\n        break;\n}\n\n// Validate based on current round\nif(button_color === round_values[position]){\n    if(round_values.length === position+1){\n        round++;\n        global.set('round',round);\n        global.set('position',0);\n        msg.payload = global.get('round_'+round);\n        return msg;\n    }else{\n        global.set('position',position+1);\n    }\n}else if(round_values[0] === 'finish'){\n    node.warn(round_values[0]);\n    msg.payload = round_json;\n    return msg;\n}else{\n    // Default: Back to round one\n    global.set('position',0);\n    global.set('round',1);\n    msg.payload = global.get('round_1');\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 480,
        "y": 220,
        "wires": [
            [
                "45c616b.3df3de8",
                "99af6a76.5951d8"
            ]
        ]
    },
    {
        "id": "bdac4dd0.1227d",
        "type": "debug",
        "z": "ed780f98.13844",
        "name": "Print first round",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 400,
        "y": 480,
        "wires": []
    },
    {
        "id": "ea2deaa8.52a968",
        "type": "debug",
        "z": "ed780f98.13844",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 560,
        "y": 120,
        "wires": []
    },
    {
        "id": "6ac37b43.9b38f4",
        "type": "mqtt-broker",
        "z": "",
        "name": "mqtt",
        "broker": "mqtt",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    }
]
